header{
min-height: $tabletHeight;
    .nav-links{
    position: absolute;
    clip-path: circle(100%);
    transform: translateX(0px);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $pageWhite;
    transition: 1s all ease-in-out;   
    }//Nav-Links
    .nav-links.open{
        transition: 1s all ease-in-out;
        clip-path: circle(100%);
        transform: translateX(500px);
    }
    .menu-links{
        top: $tabletHeight;
    }
    
    .burger{
    }
transition: all 1s ease-in-out;
}//Header