header {
  position: fixed;
  top: 0px;
  z-index: 10;
  max-width: 100vw;
  background-color: $pageWhite;
  min-height: $mobileHeight;
  box-shadow: 0px 0px 8px $pageGrey;
  .title {
    a {
      position: absolute;
      display: inline-block;
      height: auto;
      z-index: 10;
      p {
        display: flex;
        align-items: center;
        padding: 0.2em;
        font-size: 1.1em;
        img {
          align-self: center;
          width: 40px;
          height: 40px;
        }
      } //a link
    } //Title
  } //Header
  .nav-links {
    opacity: 1 !important;
    position: absolute;
    height: 100vh;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $pageWhite;
    clip-path: circle(0px at 85% -5%);
    
    padding: 0px;
    list-style: none;
    transition: 1s all ease-in-out;
    li {
      position: relative;
      top: 60px;
      width: 100%;
      display: block;
      a {
        padding: 1em;
        color: $pageColorMain;
        font-size: 1.5em;
        transition: 0.4s all ease-in-out;
        &:hover {
          background-color: $pageColorMain;
          color: $pageWhite;
        }
      }
    }
  } //Nav-Links
  .nav-links.open {
    opacity: 1;
    transition: 1s all ease-in-out;
    clip-path: circle(1200px at 85% -5%);
  }
  .menu-links {
    opacity: 0;
    position: absolute;
    right: 0px;
    margin-top: $mobileHeight !important;
    padding-bottom: 5em !important;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $pageColorMain;
    transform: translateX(530px);
    transition: 0.5s all ease-in-out;
    overflow-y: scroll;
    li {
      position: relative;
      top: 10px;
      min-width: 100%;
      display: block;
      padding: 0em;
      a {
        background-color: $pageColorMain;
        padding: 1em;
        color: $pageWhite;
        font-size: 1.3em;
        transition: 0.5s all ease-in-out;
        &:hover {
          background-color: $pageWhite;
          color: $pageColorMain;
        }
      }
      h2 {
        color: $pageWhite;
        border-bottom: 6px solid $pageWhite;
        padding: 0px 0px 15px 0px;
      }
    }
  }
  .menu-links.open {
    opacity: 1;
    transition: 0.6s all ease-in-out;
    transform: translateX(0px);
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 25px;
    width: 35px;
    height: 30px;
    z-index: 5;
    div {
      background-color: $pageColorMain;
      height: 4px;
      border-radius: 2px;
      width: 100%;
    }
    transition: all 1s ease-in-out;
  }
  .close {
    z-index: 9;
    position: absolute;
    top: 10px;
    right: 20px;
    color: $pageColorMain;
    font-size: 3em;
    opacity: 1;
    transition: 0.2s all ease-in-out;
  }
  .close.hidden {
    display: none;
  }
  .burger:hover,
  .close:hover {
    cursor: pointer;
  }
  .user-menu{
      padding: 1.5em;
      color: $pageColorMain;
      &:hover{
          color: $pageWhite;
          background-color: $pageColorMain;
      }
  }
  transition: all 1s ease-in-out;
} //Header
