.page-courses{
    padding-top: $tabletHeight;
    height: 90vh;
    overflow: auto;
  
    .list{
      padding: 0rem;
      .listItem {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        min-height: 250px;
        box-sizing: 1px;
        border-radius: 5px;
        margin: 1.2rem;
        padding: 0.5rem;
        box-shadow: 0px 0px 8px $pageGrey;
        min-height: 3rem;
        justify-content: space-between;
        h1{
          font-size: 0.8em;
        }
        h2{
          font-size: 0.8rem;
        }
        p{
          font-size: 0.7rem;
        }
        .button-3{
          padding: 0.2rem !important;
          font-size: 1rem !important;
        }
      }
    }
    
  }