.page-login{
    margin-top: $mobileHeight;
    background-color: $pageWhiteDark;
    padding: 1em;
    min-height: 80vh;
    display: flex;
    align-items: center;
    .login-data{
        border-radius: 9px;
        box-shadow: 0px 0px 5px $pageGrey;
        min-height: 70%;
        padding: 1rem;
        background-color: $pageWhite;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}