.page-login{
    margin-top: $desktopHeight;
    background-color: $pageWhiteDark;
    padding: 0em;
    height: 91vh;
    display: flex;
    align-items: left;
    .login-data{
        border-radius: 0px;
        box-shadow: 0px 0px 5px $pageGrey;
        min-height: 100%;
        padding: 1rem !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}