.page-subs{
    .subs-cards{
        .card{
            max-height: 30vw;
            
            width: 20vw;
            background-color: $pageWhite;
            border-radius: 5px;
            box-shadow: 0px 0px 8px $pageGrey;
        }
    }
}