.page-subs{
    margin-top: $tabletHeight;
    min-height: 77.2vh;
    background-color: $pageWhiteDark;
    .subs-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .card{
            height: 50vw;
            margin: 1em;
            background-color: $pageWhite;
            border-radius: 5px;
            box-shadow: 0px 0px 8px $pageGrey;
        }
    }
}