$pageColorMain : #27b863;
$pageColor1: #004b04;
$pageColor2: #e6e6e6;
$pageDark: #000;
$pageGrey: rgba(109, 109, 109, 0.582);

$pageWhite : #fff;
$pageWhiteDark : rgb(250, 250, 250);
$pageWhiteOpacity : rgba(255, 255, 255, 0.897);
$pageWhite2 : rgb(252, 252, 252);

$green : #42ff4b;
$orange : #fc4040;
$yellow : #fcff4e;
$blue : #3633ff;