.page-404{
    margin-top: $mobileHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    h1{
        text-align: center;
        color: $orange;
        font-size: 1.2em;
       
    }
}