.Options{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    width: 100vw;
    justify-items: left;
    justify-self: start;
    top: 0px;
}

.Options div{
    box-sizing: border-box;
    margin-right: 15vw;
}

.Options div .Option{
    padding: 0.25rem;
    position: absolute;
    float: left;
    cursor: move;
    height: 30px;
    max-height: 30px;
    width: 80px;
    max-width: 80px;
    font-size: medium;
    border: solid 1px black;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.Ans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Ans .Answer{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    box-sizing: border-box;
    text-align: center;
    max-width: 300px;
    max-height: 50px;
    align-items: center;
    justify-content: center;
    padding: 25px 150px;
}